In [1]:
import pandas as pd

In [6]:
csv = "./weather_csv"
weather_df = pd.read_csv(csv)
weather_df.to_html('table.html')

In [13]:
weather_df.columns

Index(['Unnamed: 0', 'City', 'Latitude', 'Longitude', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [14]:
cleaned_weather_df = weather_df.drop(columns='Unnamed: 0')

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Nikolskoye,59.7035,30.7861,28.00,100,90,4.47,RU,1612028757
1,Vaini,-21.2000,-175.2000,79.88,78,100,14.65,TO,1612028563
2,Nizwá,22.9333,57.5333,61.92,41,0,1.61,OM,1612028758
3,Bathsheba,13.2167,-59.5167,84.20,61,40,14.97,BB,1612028758
4,Upernavik,72.7868,-56.1549,-9.69,86,2,8.21,GL,1612028758
...,...,...,...,...,...,...,...,...,...
549,Binzhou,37.3667,118.0167,43.00,50,100,6.26,CN,1612028879
550,Salinas,36.6777,-121.6555,52.00,76,90,14.97,US,1612028823
551,Camacupa,-12.0167,17.4833,65.55,93,100,5.55,AO,1612028879
552,Zhaozhou,45.6833,125.3167,-17.05,87,33,6.49,CN,1612028880
553,Belmonte,-15.8631,-38.8828,84.20,83,75,9.22,BR,1612028880